
<div class="card card-container">
<form action="/sessions/login" method="POST" >
  <p><input type="text" name="username" placeholder="Name" class="form-control"></p>
  <p><input type="text" name="password" placeholder="Password" class="form-control"></p>
  <button class="btn-block btn btn-dark" input type="submit">Log In</button>
</form>

