  <% if flash.has?(:alert) %>
    <div class="alert alert-danger" role="alert">
     <%= flash[:alert] %>
    </div>
  <% end %>

<div class="card card-container">
<form action="/signup" method="POST" >
  <p><input type="text" name="username" placeholder="Name" class="form-control"></p>
  <p><input type="text" name="email" placeholder="Email address" class="form-control"></p>
  <p><input type="text" name="password" placeholder="Password" class="form-control"></p>
  <button class="btn-block btn btn-dark" input type="submit">Create Account</button>
</form>

