<h3>Create New Wish List</h3>
<form action="/wishlist/new" method="POST">
  <p>Wishlist Name: <input type="text" name="name"></p>
  <input type="submit" name="Create Wishlist" type="button" class="btn btn-primary">
</form>