<h3>Here Is your <%= @wishlist.name%> Wishlist!</h3><br>

<ul>
  <% @items.each do |item|%>
    <li><%=item.name%><br><br></li>
  <%end%> 
</ul>

<br><hr><br>

<form action="/item/new" method="POST">
<input type="hidden" name="wishlist_id" value= <%=@wishlist.id%> >
 Add Item To Wishlist: <input type="text" name="item">
 <input type="submit" name="Add Item To List ">
</form>

<p>
<form method="POST" action="/wishlist/<%=@wishlist.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete This Wishlist"  class="btn btn-danger">
</form>
</p>
