  
    <form action="/items/<%=@item.id%>" method="post">
      
     <input id="hidden" type="hidden" name="_method" value="patch">
Add Item To Wishlist: <input type="text" name="item" placeholder="Item Name">
     <input type="number" name="quantity" placeholder="Quantity">
     <input type="text" name="price" placeholder="Price">
     <input type="submit" value="submit">
    </form>


  <%="#{@item.id}"%>