  
    <form action="/items/<%=@item.id%>" method="post"> 
     <input id="hidden" type="hidden" name="_method" value="patch">
     Update Item:
     <label>Name:</label>
     <input type="text" name="item" placeholder="Item Name" value="<%=@item.name%>">
     <label>Quantity</label>
     <input type="number" name="quantity" placeholder="Quantity" value="<%=@item.quantity%>">
     <label>Price</label>
     <input type="text" name="price" placeholder="Price" value="<%=@item.price%>">
     <input type="submit" name="Update Item"  value= "Update Item" class="btn btn-primary">
    </form>
